body {
    background-color: #F3EDEA;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    text-align: justify;
    justify-content: center;
    background-color: #F3EDEA;
    color: #444;
}
.navformat{
    grid-row:1;
    grid-column: 1/3;
}

.homeformat {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
}

.pictureformat{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.articleformat {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.referencesformat {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

h1 {
    color: #CE3D33;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nameOfPerson{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-style: italic;
}

.topnav {
    float:right;
}
